#data-table {
	display: none;
}
.bar span {
	background: #fefefe url(../img/info-bg.gif) 0 100% repeat-x;
}
.fig0 {
	background: #747474 url(../img/bar-01-bg.gif) 0 0 repeat-y;
}
.fig1 {
	background: #65c2e8 url(../img/bar-02-bg.gif) 0 0 repeat-y;
}
.fig2 {
	background: #eea151 url(../img/bar-03-bg.gif) 0 0 repeat-y;
}
.bar.fig0 {
    background: orange;
}
.content> .row {
    margin-bottom: 10px;
}